Flask==2.3.*
Flask-Security-Too
requests
beautifulsoup4
pandas
lxml
APScheduler
Authlib
SQLAlchemy
Flask-SQLAlchemy
psycopg2
gunicorn
python-dotenv
imapclient
pyzmail36
openpyxl
cryptography
pymodbus
argon2-cffi
setuptools
pytest
flask_caching